{% load staticfiles %}

{% block content %}
<!doctype html> 
<html lang="en"> 
<head> 
	<background
	<meta charset="UTF-8" />
	<title>Space Spellers</title>
	<script type="text/javascript">
		var STATIC_URL = "{% static 'game1/' %}";
		var words = {{ value|safe }}
	</script>
	<script src="{% static 'game1/js/lib/phaser.min.js' %}"></script>
	<script src="{% static 'game1/js/lib/jquery-1.12.0.min.js' %}"></script>
	
	<script src="{% static 'game1/js/csrf.js' %}"></script>
	
	<script src="{% static 'game1/js/preload.js' %}"></script>
	<script src="{% static 'game1/js/mainmenu.js' %}"></script>
    <script src="{% static 'game1/js/game.js' %}"></script>
	<script src="{% static 'game1/js/over.js' %}"></script>
</head>
<body bgcolor = "000000">

	<script type="text/javascript" src="{% static 'game1/js/main.js' %}"></script>

</body>
</html>
{% endblock %}