{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
	<script src="{% static 'mainpage/dist/sweetalert.min.js' %}"></script>
	<script src="{% static 'mainpage/dist/swal-forms.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery-1.12.0.min.js' %}"></script>
	
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/dist/sweetalert.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/themes/google/google.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/swal-forms.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/front-page.css' %}">
	
	<style>
		margin:auto;
	</style>
</head>

<body background="{% static 'mainpage/images/background.jpg' %}">
	<script>
		function aboutFunct() {
			swal({
				title: "About",
				text: "Space Spellers is a fun way to develop spelling skills while saving the galaxy at the same time! Pilot a starship to destroy as many misspelled asteroids as you can in the time limit! Available for grades 1st through 5th.",
			});
		}
		
		function studentFunct() {
			swal.withForm({
      			title: "Student Login", 
      			text: "Please Enter Your Username",
      			showCancelButton: true,
     			closeOnConfirm: true,
				formFields: [
					{ id: 'name', placeholder: 'username' },
					{ id: 'password', type: 'password' }
				]
    		}, function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						type: "post",
						url: "/main/slogin/",
						data: {
							csrfmiddlewaretoken: '{{ csrf_token }}', 
							username: document.getElementById('name').value, 
							password: document.getElementById('password').value 
						},
						success: function(response) {
							// data.redirect contains the string URL to redirect to
							window.location.href = response;
						}
					})
				}
   			});
		}
		
		function teacherFunct() {
			swal.withForm({
      			title: "Teacher Login", 
      			text: "Please Enter Your Username",
      			showCancelButton: true,
     			closeOnConfirm: true,
				formFields: [
					{ id: 'name', placeholder: 'username' },
					{ id: 'password', type: 'password' }
				]
    		}, function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						type: "post",
						url: "/main/tlogin/",
						data: {
							csrfmiddlewaretoken: '{{ csrf_token }}', 
							username: document.getElementById('name').value, 
							password: document.getElementById('password').value 
						},
						success: function(response) {
							// data.redirect contains the string URL to redirect to
							window.location.href = response;
						}
					})
				}
   			});
		}
	</script>
	<div id="middlePage">  
		<img style="position:absolute;top:325px;left:725px" src="{% static 'mainpage/images/fire.gif' %}">  
		<img style="position:absolute;top:0px;left:300px" src="{% static 'mainpage/images/title.png' %}">
		
		{% csrf_token %}
		<input type="image" src="{% static 'mainpage/images/about.png' %}" style="position:absolute;top:25px;left:75px" onClick="aboutFunct();">
		<input type="image" src="{% static 'mainpage/images/students.png' %}" style="position:absolute;top:75px;left:900px" onClick="studentFunct();">
		<input type="image" src="{% static 'mainpage/images/teachers.png' %}" style="position:absolute;top:350px;left:125px" onClick="teacherFunct();">
	</div>
</body>
</html>