{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!doctype html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8" />
	<title>Space Spellers</title>
	<script type="text/javascript">
		var STATIC_URL = "{% static 'game/' %}";
		var words = {{ value|safe }};
	</script>
	<script type="text/javascript" src="{% static 'game/js/lib/phaser.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'game/js/preload.js' %}"></script>
	<script type="text/javascript" src="{% static 'game/js/mainmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'game/js/game.js' %}"></script>
	<script type="text/javascript" src="{% static 'game/js/over.js' %}"></script>
</head>
<body>
	<script type="text/javascript" src="{% static 'game/js/main.js' %}"></script>
</body>
</html>
{% endblock %}